
<h4>公司简介</h4>
<p>易通贷是一家中国知名的网络借贷信息中介服务平台，君石控股集团旗下公司，成立于2011年。易通贷依托人工智能、大数据、产业区块链等金融科技创新，为广大理性出借人群和优质中小企业提供便捷的网络借贷信息中介服务。公司注册（实缴）资金1.5亿元人民币，多年的稳健运营，服务了近600万用户和3万多家企业，得到媒体、行业、用户和合作伙伴的广泛认可。</p>
<p>易通贷拥有精英管理团队和技术团队，凭借金融科技的优良基因和7年风控经验及数据积累，公司自主研发了“易智”风控系统，通过反欺诈、数据比对体系和信用评价模型，一站式管理互联网金融风险。以大数据运用、精准化判断、智能化决策为核心的新型风险管理体系，有助于提高用户服务精准度，极大提升资产安全可靠性，为客户财富增值保驾护航，多年来客户的历史出借利息如约兑付。</p>
<p>经过七年稳健发展，易通贷已成为值得用户信赖的互联网金融平台：易通贷是，接入了中国电子商务协会反欺诈系统，获得了AAA级企业信用等级认证、公安部“信息系统安全等级保护”三级备案认证，易通贷积极合规，严格自律，拥抱监管，并定期主动向监管机构报送运营数据，公开披露运营信息。此外，易通贷还获得“2017企业社会责任（CSR）优秀企业奖”、“2017年度金牌最受用户信赖奖”、“最佳风控模式创新企业”奖等多项荣誉。</p>
<h4>走进公司</h4>
<div class="into">
    <img src="../../assets/imgs/comintro.png" alt="">
</div>
<h4>走进企业</h4>
<div class="into">
    <img src="../../assets/imgs/qiye.png" alt="">
</div>

<style>
    /* 公司简介 */

    h4 {
        border-left: 2px solid #2ea7e0;
        padding-left: 5px;
    }

    p {
        font-size: 16px;
        padding: 10px;
        text-indent: 2em;
        line-height: 26px;
    }

    .into {
        text-align: center;
        margin-top: 30px;
    }
</style>