<h4>公司荣誉&emsp;&emsp;公司资质</h4>
<div class="pic">
    <img src="../../assets/imgs/pic-1.png" alt="">
    <img src="../../assets/imgs/pic-1.png" alt="">
    <img src="../../assets/imgs/pic-1.png" alt="">
    <img src="../../assets/imgs/pic-1.png" alt="">
    <img src="../../assets/imgs/pic-1.png" alt="">
    <img src="../../assets/imgs/pic-1.png" alt="">
    <img src="../../assets/imgs/pic-1.png" alt="">
    <img src="../../assets/imgs/pic-1.png" alt="">
    <img src="../../assets/imgs/pic-1.png" alt="">
</div>
<style>
    /* 公司荣誉 */
    h4{
        text-align: center;
        cursor: pointer;
        margin: 30px;
    }
    h4:hover{
        color: #2ea7e0;
    }
    .pic{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .pic img{
        width: 32%;
        height: auto;
        margin-bottom: 12px;
    }


</style>