<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="leftNav col-md-2">
            <ul>
                <li class="active"><a href="#/about/comIntro">公司简介</a></li>
                <li><a href="#/about/rongyu">荣誉资质</a></li>
                <li><a href="#/about/comIntro">影音易通贷</a></li>
                <li><a href="#/about/falc">运营报告</a></li>
                <li><a href="#/about/falc">发展历程</a></li>
                <li><a href="#/about/rongyu">出借人寄语</a></li>
                <li><a href="#/about/comIntro">联系我们</a></li>
                <li><a href="#/about/rongyu">服务条款</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <br>
            <br>
            <hr style="border: 1px solid #2ea7e0">
            <div id="mainRight">
                
            </div>
        </div>
    </div>
</div>

<style>
    



    .leftNav ul{
        border: 1px solid #fafafa;
        font-size: 18px;
        line-height: 60px;
        text-align: center;
    }
    .leftNav li a{
        display: block;
        height: 60px;
        border: 1px solid #fafafa;
        cursor: pointer;
        color: rgb(61, 60, 60);
    }
    .leftNav li a:hover{
        text-decoration: none;
        background-color: #2ea7e0;
        color:#fff;
    }
    .leftNav li.active a{
        background-color: #2ea7e0;
        color:#fff;
    }
    .leftNav li:last-child a{
        border-bottom: 0;
    }
    .leftNav li:first-child a{
        border-top: 0;
    }
    

</style>