<div class="borrow container">
    <div class="row box">
        <div class="col-md-4 part">
            <h3 style="background-color: #40d47e">信用贷</h3>
            <ul>
                <li>
                    <p>
                        可借金额 <i>¥ 2,000.00</i>
                    </p>
                </li>
                <li>
                    <a href="">申请条件</a>
                </li>
                <li>
                    <p class="help-block">仅限成都地区</p>
                </li>
                <li class="info">
                    <p>
                        <span></span>填写基本资料</p>
                    <p>
                        <span></span>身份认证
                    </p>
                    <p>
                        <span></span>视屏认证
                    </p>
                </li>
                <li>
                    <a href="#/personal/investAndborrow"><button id="btn" class="btn btn-info">立即申请</button></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 part">
            <h3 style="background-color: #ec7e20">车易贷</h3>
            <ul>
                <li>
                    <p>
                        可借金额
                        <i>¥ 2,000.00</i>
                    </p>
                </li>
        
                <li>
                    <a href="">申请条件</a>
                </li>
                <li>
                    <p class="help-block">仅限成都地区</p>
                </li>
                <li class="info">
                    <p>
                        <span></span>填写基本资料</p>
                    <p>
                        <span></span>身份认证
                    </p>
                    <p>
                        <span></span>视屏认证
                    </p>
                </li>
                <li>
                    <a href="#/personal/investAndborrow"><button id="btn" class="btn btn-info">立即申请</button></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 part">
            <h3 style="background-color: #2ca2ee">房易贷</h3>
            <ul>
                <li>
                    <p>
                        可借金额
                        <i>¥ 2,000.00</i>
                    </p>
                </li>
        
                <li>
                    <a href="">申请条件</a>
                </li>
                <li>
                    <p class="help-block">仅限成都地区</p>
                </li>
                <li class="info">
                    <p>
                        <span></span>填写基本资料</p>
                    <p>
                        <span></span>身份认证
                    </p>
                    <p>
                        <span></span>视屏认证
                    </p>
                </li>
                <li>
                    <a href="#/personal/investAndborrow"><button id="btn" class="btn btn-info">立即申请</button></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<style>
    .box{
        margin-top: 30px;
    }
    .borrow ul{
        background-color: #fafafa;
        padding: 10px;
    }
    h3{
        line-height: 48px;
        color:#fff;
        text-indent: 1em;
        margin: 0;
    }
    .info p{
        margin: 0;
        padding-left: 10px;
    }
    .info p span{
        display: inline-block;
        width: 12px;
        height: 12px;
        box-shadow: 0 0 6px 1px rgb(238, 64, 64) inset;
        border: 1px solid pink;
        margin-right: 5px;
    }
    .borrow li:last-child{
        text-align: center;
        margin-top: 10px;
    }
    .borrow li .btn{
        border-radius: 17px;
    }
    
</style>