<!-- 广告轮播图 -->
<div class="swiper-container container-fluid banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="./assets/imgs/banner01.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="./assets/imgs/banner02.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="./assets/imgs/banner01.jpg" alt="">
        </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>

    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- 如果需要滚动条 -->
    <!-- <div class="swiper-scrollbar"></div> -->
</div>
<!-- 服务介绍 -->
<div class="serveIntro container">
    <div class="row">
        <div class="col-md-4 row part">
            <img src="../../assets/imgs/feature01.png" alt="" class="col-md-4">
            <div class="col-md-8">
                <h2>投资理财</h2>
                <p>稳定投资、高收益、短期限，易融贷先行赔付，保障投资人权益。</p>
            </div>
        </div>
        <div class="col-md-4 row part">
            <img src="../../assets/imgs/feature02.png" alt="" class="col-md-4">
            <div class="col-md-8">
                <h2>投资理财</h2>
                <p>稳定投资、高收益、短期限，易融贷先行赔付，保障投资人权益。</p>
            </div>
        </div>
        <div class="col-md-4 row part">
            <img src="../../assets/imgs/feature03.png" alt="" class="col-md-4">
            <div class="col-md-8">
                <h2>投资理财</h2>
                <p>稳定投资、高收益、短期限，易融贷先行赔付，保障投资人权益。</p>
            </div>
        </div>
    </div>
</div>

<!-- 商务列表 -->
<div class="container list">
    <div class="title-1">
        <h3>进行中的借款</h3>
        <a href="#">进入投资列表</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>借款人</td>
                <td>借款标题</td>
                <td>年利率</td>
                <td>金额</td>
                <td>还款方式</td>
                <td>进度</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <!--后台示例数据-->
            <tr>
                <!--第一条数据开始-->
                <td>张三</td>
                <td>给我2000度过难关</td>
                <td class="text-info"> 10.00%
                </td>
                <td class="text-info">2,000.00</td>
                <td>
                    按月分期还款
                </td>
                <td>
                    <div class="">
                        78.00%
                    </div>
                </td>
                <td>
                    <a class="btn btn-danger btn-sm" href="borrow_info.html?id=1">查看</a>
                </td>
            </tr>
            <!--第一条数据结束-->
            <tr>
                <!--第二条数据开始-->
                <td>王五</td>
                <td>江湖救急，借100吃饭</td>
                <td class="text-info"> 12.00%
                </td>
                <td class="text-info">100.00</td>
                <td>
                    按月到期还款
                </td>
                <td>
                    <div class="">
                        100.00%
                    </div>
                </td>
                <td>
                    <a class="btn btn-danger btn-sm" href="borrow_info.html?id=1">查看</a>
                </td>
            </tr>
            <!--第二条数据结束-->
            <!-- 如果后台没有内容,默认输出 -->
            <!-- <tr>
                <td colspan="7" align="center">
                    <p class="text-danger">目前暂时没有进行中的借款</p>
                </td>
            </tr> -->
        </tbody>
    </table>
</div>
<!-- 网站咨询 -->
<div class="container trends">
    <div class="row">
        <div class="col-md-6">
            <div class="title-1">
                <h3>企业最新资讯</h3>
                <a href="#">更多咨询</a>
            </div>
            <ul>
                <li>
                    <a href="#">
                        <span>央视力挺互联网金融</span>
                        <span>发表日期：2015-03-23</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>央视力挺互联网金融</span>
                        <span>发表日期：2015-03-23</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>央视力挺互联网金融</span>
                        <span>发表日期：2015-03-23</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="title-1">
                <h3>用户反馈</h3>
                <a href="#">更多咨询</a>
            </div>
            <ul>
                    <li>
                        <a href="#">
                            <span>央视力挺互联网金融</span>
                            <span>发表日期：2015-03-23</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>央视力挺互联网金融</span>
                            <span>发表日期：2015-03-23</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>央视力挺互联网金融</span>
                            <span>发表日期：2015-03-23</span>
                        </a>
                    </li>
                </ul>
        </div>
        <div class="col-md-6">
            <div class="title-1">
                <h3>理财经验</h3>
                <a href="#">更多咨询</a>
            </div>
            <ul>
                    <li>
                        <a href="#">
                            <span>央视力挺互联网金融</span>
                            <span>发表日期：2015-03-23</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>央视力挺互联网金融</span>
                            <span>发表日期：2015-03-23</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>央视力挺互联网金融</span>
                            <span>发表日期：2015-03-23</span>
                        </a>
                    </li>
                </ul>
        </div>
        <div class="col-md-6">
            <div class="title-1">
                <h3>活动分享</h3>
                <a href="#">更多咨询</a>
            </div>
            <ul>
                    <li>
                        <a href="#">
                            <span>央视力挺互联网金融</span>
                            <span>发表日期：2015-03-23</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>央视力挺互联网金融</span>
                            <span>发表日期：2015-03-23</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>央视力挺互联网金融</span>
                            <span>发表日期：2015-03-23</span>
                        </a>
                    </li>
                </ul>
        </div>
    </div>
</div>

<style>
    a:hover{
        text-decoration: none;
    }
    .serveIntro .part img{
        width: 30%;
    }
    .serveIntro .part{
        display: flex;
        align-items: center;
    }
    .serveIntro .part div{
        padding: 0;
    }
    .title-1{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        line-height: 50px;
    }
    .title-1 h3{
        margin: 0;
        color: skyblue;
        border-bottom: 2px solid skyblue;
        line-height: 50px;        
    }
    .trends ul li a{
        color: #000;
        display: flex;
        justify-content: space-between;
        padding: 10px 5px;
        border-bottom: 1px solid #ccc;
    }
    .trends ul li a:hover{
        color: skyblue;
    }
    

</style>

<script>
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal', // 垂直切换选项
        loop: true, // 循环模式选项
    
        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
        },
    
        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        autoplay:{
            delay:3000
        },
        // 如果需要滚动条
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    })


</script>