<div class="int">
    <div class="head">
        <img src="../../assets/imgs/head_icon.jpg" alt="">
    </div>
    <div class="msg">
        <p>昵 称：源代码教育</p>
        <p>用户名：小强</p>
        <p>最后登录时间：2016-10-25 15:30:10</p>
    </div>
</div>
<div class="acountStatus">
    <div class="money">
        <div class="zong">
            总金额：
            <span>10000元</span>
        </div>
        <div class="can">
            可用金额：
            <span>8000元</span>
            <div class="act">
                <button class="btn btn-primary">账户充值</button>
                <button class="btn btn-danger">账户提现</button>
            </div>
        </div>
        <div class="not">
            冻结金额：
            <span>2000元</span>
        </div>
    </div>
</div>
<div class="rz row">
    <div class="col-md-4">
        <div class="clearfix">
            <img src="../../assets/imgs/shiming.png" style="float: left; margin-right: 10px">
            <div class="">
                <h5>实名认证</h5>
                <p>
                    未认证
                    <a href="realAuth.html">马上认证</a>
                </p>
            </div>
            <div class="clearfix"></div>
            <p class="info">实名认证之后才能在平台投资</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="clearfix">
            <img src="../../assets/imgs/shouji.jpg" style="float: left; margin-right: 10px">
            <div class="">
                <h5>实名认证</h5>
                <p>
                    未认证
                    <a href="realAuth.html">马上认证</a>
                </p>
            </div>
            <div class="clearfix"></div>
            <p class="info">实名认证之后才能在平台投资</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="clearfix">
            <img src="../../assets/imgs/youxiang.jpg" style="float: left; margin-right: 10px">
            <div class="">
                <h5>实名认证</h5>
                <p>
                    未认证
                    <a href="realAuth.html">马上认证</a>
                </p>
            </div>
            <div class="clearfix"></div>
            <p class="info">实名认证之后才能在平台投资</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="clearfix">
            <img src="../../assets/imgs/baozhan.jpg" style="float: left; margin-right: 10px">
            <div class="">
                <h5>实名认证</h5>
                <p>
                    未认证
                    <a href="realAuth.html">马上认证</a>
                </p>
            </div>
            <div class="clearfix"></div>
            <p class="info">实名认证之后才能在平台投资</p>
        </div>
    </div>
</div>


<style>

    #perMsg{
        border: 1px solid #ccc;
        border-radius: 5px;
        padding-bottom: 20px;
        
    }
    #perMsg .int .head{
        width: 94px;
        height: 94px;
        border: 1px solid #ccc;
        padding: 8px;
    }
    #perMsg .int .head img{
        width: 100%;
    }
    #perMsg .int{
        display: flex;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
    #perMsg .int .msg{
        padding: 5px 20px;
    }
    .money{
        margin: 20px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-size: 18px;
    }
    .money>div{
        width: 30%;
    }
    .money>div span{
        color:#337ab7;
    }
    .act{
        margin-top: 20px;
    }
    .clearfix{
        display: block;
        content: "";
        clear: both;
    }
    .rz{
        border-bottom: 1px solid #ccc;
        width: 98%;
        margin: 0 auto;
    }
    .rz>div{
        margin-top: 30px;
    }

</style>