<!-- 认证 -->
<h4>实名认证</h4>
<p class="ntc">为保护您账户安全，实名认证成功之后不能修改信息，请认真填写！</p>
<form class="form-horizontal" name="rzMsg" method="get" action="#">
    <div class="form-group item">
        <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="inputEmail3" placeholder="请输入用户名">
        </div>
    </div>
    <div class="form-group item">
        <label for="inputPassword3" class="col-sm-2 control-label">姓名</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="inputPassword3" placeholder="请输入姓名">
        </div>
    </div>
    <div class="form-group item">
        <label for="inputPassword3" class="col-sm-2 control-label">性别</label>
        <div class="col-sm-5">
            <!-- <input type="password" class="form-control" id="inputPassword3" placeholder="Password"> -->
            <select name="sex" id="sex" class="choose">
                <option value="man" selected>男</option>
                <option value="woman">女</option>
            </select>
        </div>
    </div>
    <div class="form-group item">
        <label for="inputPassword3" class="col-sm-2 control-label">证件类型</label>
        <div class="col-sm-5">
            <select name="carType" id="carType" class="choose">
                <option value="IDcard" selected>身份证</option>
                <option value="stu">学生证</option>
                <option value="soldier">军官证</option>
                <option value="disable">残疾证</option>
            </select>
        </div>
    </div>
    <div class="form-group item">
        <label for="inputPassword3" class="col-sm-2 control-label">证件号码</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="inputPassword3" placeholder="请输入证件号码">
        </div>
    </div>
    <div class="form-group item">
        <label for="inputPassword3" class="col-sm-2 control-label">出生日期</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="inputPassword3" placeholder="请输入出生日期">
        </div>
    </div>
    <div class="form-group item">
        <label for="inputPassword3" class="col-sm-2 control-label">证件地址</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputPassword3" placeholder="请输入证件地址">
        </div>
    </div>
    <div class="form-group item">
        <label for="inputPassword3" class="col-sm-2 control-label">身份证照片</label>
        <div class="col-sm-10">
            <p style="color:#337ab7">请点击“选择图片”,选择证件的正反两面照片。</p>
            <!-- <input type="file" class="form-control" id="inputPassword3" placeholder="Password"> -->
            <div class="idCardItem">
                <div>
                    <a href="javascript:;" id="uploa" "dbtn1"="">上传正面</a>
                </div>
                <img alt="" src="" class="upFront" id="upFront">
                <input type="hidden" value="" name="upFront">
            </div>
            <div class="idCardItem">
                <div>
                    <a href="javascript:;" id="uploa" "dbtn1"="">上传反面</a>
                </div>
                <img alt="" src="" class="upVerso" id="upVerso">
                <input type="hidden" value="" name="upVerso">
            </div>
            <div class="idCardItem chakan">
                <div>
                    <a href="javascript:;" id="uploa" "dbtn1"="">查看样板</a>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group item">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">提交认证</button>
        </div>
    </div>
</form>


<style>

    /* 认证 */
    h4{
        background-color: #f5f5f5;
        padding: 16px 15px;
        margin: 0;
        font-size: 14px;
    }
    .ntc{
        text-align: center;
        margin: 10px 0;
        color:#a94442;
    }
    .item{
        width: 80%;
        margin-left: 200px !important;
    }
    .idCardItem{
        width: 160px;
        height: 150px;
        float: left;
        margin-right: 10px;
        border: 1px solid #e3e3e3;
        text-align: center;
        padding: 5px;
    }
    .chakan{
        border: 0;
        line-height: 150px;
    }
    .choose{
        width: 100%;
        height: 34px;
        border: 1px solid #ccc;
        border-radius: 4px;
        text-indent: 12px;
        color:rgb(179, 177, 177);
        font-size: 16px;
    }


</style>